@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Josefin+Sans:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  width: 1250px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
}
.header .block_lang {
  background-color: #00aeef;
}
.header .block_lang .lang_info {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .block_lang .lang_info a {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin-left: 30px;
  font-family: "Josefin Sans", sans-serif;
}
.header .block_menu {
  background-color: #fff;
}
.header .block_menu .menu_block {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .block_menu .menu_block .logo {
  height: 70px;
}
.header .block_menu .menu_block .logo img {
  height: 100%;
}
.header .block_menu .menu_block .menu a {
  font-family: "Josefin Sans", sans-serif;
  color: #828186;
  text-transform: uppercase;
  font-size: 15px;
  margin-left: 35px;
}
.header .block_menu .menu_block .menu a:nth-child(1) {
  color: #00aeef;
}
.header .burger {
  display: none;
}
.header .menu_burger {
  position: absolute;
  transition: all 0.5s ease-out;
  top: -1100px;
  left: 0;
  width: 100%;
  padding: 0 50px;
  z-index: -1;
}
.header .menu_burger .burger_menu {
  border-top: 3px solid #00aeef;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0 10px #d6d6d6;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .menu_burger .burger_menu a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #d6d6d6;
  color: #828186;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Josefin Sans", sans-serif;
}

.baner {
  width: 100%;
  height: 100vh;
}
.baner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.baner .baner_text {
  width: 100%;
  transform: translate(-50%, -40%);
  position: absolute;
  top: 40%;
  left: 50%;
  font-family: "Rubik", sans-serif;
  color: #fff;
  padding: 0 30px;
}
.baner .baner_text p {
  font-size: 13px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 1.2px;
  font-weight: 600;
}
.baner .baner_text h2 {
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 1.2em;
}

.info_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 100px;
}
.info_block .info_baner {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
}
.info_block .info_baner .baner_item {
  width: 100%;
  margin-bottom: 50px;
}
.info_block .info_baner .baner_item h2 {
  color: #ec008c;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}
.info_block .info_baner .baner_item .mod {
  color: #00aeef;
  font-size: 14px;
  letter-spacing: 2px;
}
.info_block .info_baner .baner_item .ser_zag {
  color: #f9b335;
}
.info_block .info_baner .baner_item .item {
  background-color: #ec008c;
  margin-bottom: 15px;
  padding: 13px;
  border-radius: 12px;
  line-height: 1.2em;
}
.info_block .info_baner .baner_item .item .item_img {
  width: 100%;
}
.info_block .info_baner .baner_item .item .item_img img {
  width: 100%;
  object-fit: cover;
}
.info_block .info_baner .baner_item .item h4 {
  color: #f680c5;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.info_block .info_baner .baner_item .item p {
  color: #fff;
  font-size: 13px;
}
.info_block .info_baner .baner_item .zel {
  background-color: #8dc63f;
}
.info_block .info_baner .baner_item .zel h4 {
  color: #c4e39f;
}
.info_block .info_baner .baner_item .sen {
  background-color: #00aeef;
}
.info_block .info_baner .baner_item .sen h4 {
  color: #80d7f7;
}
.info_block .info_baner .baner_item .ser {
  background-color: #f5f5f5;
}
.info_block .info_baner .baner_item .ser p {
  padding-top: 30px;
  color: #9a999e;
  font-weight: 600;
}
.info_block .info_baner .baner_item .baner_icon {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.info_block .info_baner .baner_item .baner_icon .icon {
  width: 50px;
  height: 50px;
}
.info_block .info_baner .baner_item .baner_icon .icon img {
  width: 100%;
  height: 100%;
}
.info_block .glav_text {
  width: 45%;
  font-family: "Rubik", sans-serif;
}
.info_block .glav_text .glav_img {
  width: 100%;
  height: 300px;
}
.info_block .glav_text .glav_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.info_block .glav_text .zag {
  color: #ec008c;
  font-size: 12px;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
}
.info_block .glav_text .text {
  margin-top: 20px;
  color: #9a999e;
  letter-spacing: 1.6px;
  text-align: center;
  line-height: 1.4em;
  font-size: 17px;
  font-weight: 500;
}

.contacts {
  background: url("../img/ban2.jpg") center/cover no-repeat;
  font-family: "Rubik", sans-serif;
}
.contacts .block_kart {
  width: 100%;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts .block_kart .karts {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.contacts .block_kart .karts .karts_item {
  width: 250px;
  height: 180px;
  background-color: #00aeef;
  margin: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 70px 35px 25px 25px;
}
.contacts .block_kart .karts .karts_item .num {
  font-family: "Cabin Sketch", cursive;
  font-size: 45px;
  color: #fff;
}
.contacts .block_kart .karts .karts_item .item_text {
  color: #fff;
  letter-spacing: 3px;
  font-weight: 700;
}
.contacts .block_kart .karts .i2 {
  background-color: #ec008c;
}
.contacts .block_kart .karts .i3 {
  background-color: #f9b233;
}
.contacts .block_kart .karts .i4 {
  background-color: #8dc63f;
}
.contacts .block_kart .info_karts {
  width: 50%;
  background-color: #fff;
  color: #9a999e;
  padding: 80px 50px;
  border-radius: 15px;
}
.contacts .block_kart .info_karts h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 25px;
}
.contacts .block_kart .info_karts p {
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 25px;
}
.contacts .block_kart .info_karts p .info_zag {
  font-weight: 700;
}
.contacts .block_kart .info_karts p .info_mod {
  color: #00aeef;
  font-weight: 700;
}
.contacts .block_kart .info_karts p:nth-child(5) {
  margin-bottom: 60px;
}
.contacts .block_kart .info_karts a {
  text-align: center;
  padding: 18px 30px;
  background-color: #ec008c;
  color: #fff;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 700;
  border-radius: 30px;
}

footer {
  background-color: #ed008e;
}

.footer_block {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #f8f4fb;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 1.17em;
}

@media screen and (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 667px;
  }

  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
  }
  .header .block_lang {
    background-color: #00aeef;
  }
  .header .block_lang .lang_info {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header .block_lang .lang_info a {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-left: 30px;
    font-family: "Josefin Sans", sans-serif;
  }
  .header .block_menu {
    background-color: #fff;
  }
  .header .block_menu .menu_block {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .block_menu .menu_block .logo {
    height: 70px;
  }
  .header .block_menu .menu_block .logo img {
    height: 100%;
  }
  .header .block_menu .menu_block .menu {
    display: none;
  }
  .header .block_menu .menu_block .menu a {
    font-family: "Josefin Sans", sans-serif;
    color: #828186;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 35px;
  }
  .header .block_menu .menu_block .menu a:nth-child(1) {
    color: #00aeef;
  }
  .header .burger {
    display: block;
  }
  .header .menu_burger.active {
    transition: all 0.5s ease-out;
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    padding: 0 50px;
    z-index: -1;
  }
  .header .menu_burger.active .burger_menu {
    border-top: 3px solid #00aeef;
    background-color: #fff;
    width: 100%;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header .menu_burger.active .burger_menu a {
    display: block;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #d6d6d6;
    color: #828186;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Josefin Sans", sans-serif;
  }

  .info_block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
  }
  .info_block .info_baner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Josefin Sans", sans-serif;
  }
  .info_block .info_baner .baner_item {
    width: 100%;
    margin-bottom: 50px;
  }
  .info_block .info_baner .baner_item h2 {
    color: #ec008c;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .info_block .info_baner .baner_item .mod {
    color: #00aeef;
    font-size: 14px;
    letter-spacing: 2px;
  }
  .info_block .info_baner .baner_item .ser_zag {
    color: #f9b335;
  }
  .info_block .info_baner .baner_item .item {
    background-color: #ec008c;
    margin-bottom: 15px;
    padding: 13px;
    border-radius: 12px;
    line-height: 1.2em;
  }
  .info_block .info_baner .baner_item .item .item_img {
    width: 100%;
  }
  .info_block .info_baner .baner_item .item .item_img img {
    width: 100%;
    object-fit: cover;
  }
  .info_block .info_baner .baner_item .item h4 {
    color: #f680c5;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .info_block .info_baner .baner_item .item p {
    color: #fff;
    font-size: 13px;
  }
  .info_block .info_baner .baner_item .zel {
    background-color: #8dc63f;
  }
  .info_block .info_baner .baner_item .zel h4 {
    color: #c4e39f;
  }
  .info_block .info_baner .baner_item .sen {
    background-color: #00aeef;
  }
  .info_block .info_baner .baner_item .sen h4 {
    color: #80d7f7;
  }
  .info_block .info_baner .baner_item .ser {
    background-color: #f5f5f5;
  }
  .info_block .info_baner .baner_item .ser p {
    padding-top: 30px;
    color: #9a999e;
    font-weight: 600;
  }
  .info_block .info_baner .baner_item .baner_icon {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .info_block .info_baner .baner_item .baner_icon .icon {
    width: 50px;
    height: 50px;
  }
  .info_block .info_baner .baner_item .baner_icon .icon img {
    width: 100%;
    height: 100%;
  }
  .info_block .glav_text {
    width: 100%;
    font-family: "Rubik", sans-serif;
    margin-bottom: 50px;
  }
  .info_block .glav_text .glav_img {
    width: 100%;
    height: 300px;
  }
  .info_block .glav_text .glav_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .info_block .glav_text .zag {
    color: #ec008c;
    font-size: 12px;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
  }
  .info_block .glav_text .text {
    margin-top: 20px;
    color: #9a999e;
    letter-spacing: 1.6px;
    text-align: center;
    line-height: 1.4em;
    font-size: 17px;
    font-weight: 500;
  }

  .contacts {
    background: url("../img/ban2.jpg") center/cover no-repeat;
    font-family: "Rubik", sans-serif;
  }
  .contacts .block_kart {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .contacts .block_kart .karts {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .contacts .block_kart .karts .karts_item {
    width: 250px;
    height: 180px;
    background-color: #00aeef;
    margin: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 35px 25px 25px;
  }
  .contacts .block_kart .karts .karts_item .num {
    font-family: "Cabin Sketch", cursive;
    font-size: 45px;
    color: #fff;
  }
  .contacts .block_kart .karts .karts_item .item_text {
    color: #fff;
    letter-spacing: 3px;
    font-weight: 700;
  }
  .contacts .block_kart .karts .i2 {
    background-color: #ec008c;
  }
  .contacts .block_kart .karts .i3 {
    background-color: #f9b233;
  }
  .contacts .block_kart .karts .i4 {
    background-color: #8dc63f;
  }
  .contacts .block_kart .info_karts {
    width: 100%;
    background-color: #fff;
    color: #9a999e;
    padding: 80px 50px;
    border-radius: 15px;
  }
  .contacts .block_kart .info_karts h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .contacts .block_kart .info_karts p {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 25px;
  }
  .contacts .block_kart .info_karts p .info_zag {
    font-weight: 700;
  }
  .contacts .block_kart .info_karts p .info_mod {
    color: #00aeef;
    font-weight: 700;
  }
  .contacts .block_kart .info_karts p:nth-child(5) {
    margin-bottom: 60px;
  }
  .contacts .block_kart .info_karts a {
    text-align: center;
    padding: 18px 30px;
    background-color: #ec008c;
    color: #fff;
    font-size: 17px;
    letter-spacing: 0.5px;
    font-weight: 700;
    border-radius: 30px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 500px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    width: 100%;
  }

  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
  }
  .header .block_lang {
    background-color: #00aeef;
    padding: 0 20px;
  }
  .header .block_lang .lang_info {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header .block_lang .lang_info a {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-left: 30px;
    font-family: "Josefin Sans", sans-serif;
  }
  .header .block_menu {
    background-color: #fff;
    padding: 0 20px;
  }
  .header .block_menu .menu_block {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .block_menu .menu_block .logo {
    height: 70px;
  }
  .header .block_menu .menu_block .logo img {
    height: 100%;
  }
  .header .block_menu .menu_block .menu {
    display: none;
  }
  .header .block_menu .menu_block .menu a {
    font-family: "Josefin Sans", sans-serif;
    color: #828186;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 35px;
  }
  .header .block_menu .menu_block .menu a:nth-child(1) {
    color: #00aeef;
  }
  .header .burger {
    display: block;
  }
  .header .menu_burger.active {
    transition: all 0.5s ease-out;
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    padding: 0 50px;
    z-index: -1;
  }
  .header .menu_burger.active .burger_menu {
    border-top: 3px solid #00aeef;
    background-color: #fff;
    width: 100%;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header .menu_burger.active .burger_menu a {
    display: block;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #d6d6d6;
    color: #828186;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Josefin Sans", sans-serif;
  }

  .info_block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    padding-top: 100px;
  }
  .info_block .info_baner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Josefin Sans", sans-serif;
  }
  .info_block .info_baner .baner_item {
    width: 100%;
    margin-bottom: 50px;
  }
  .info_block .info_baner .baner_item h2 {
    color: #ec008c;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .info_block .info_baner .baner_item .mod {
    color: #00aeef;
    font-size: 14px;
    letter-spacing: 2px;
  }
  .info_block .info_baner .baner_item .ser_zag {
    color: #f9b335;
  }
  .info_block .info_baner .baner_item .item {
    background-color: #ec008c;
    margin-bottom: 15px;
    padding: 13px;
    border-radius: 12px;
    line-height: 1.2em;
  }
  .info_block .info_baner .baner_item .item .item_img {
    width: 100%;
  }
  .info_block .info_baner .baner_item .item .item_img img {
    width: 100%;
    object-fit: cover;
  }
  .info_block .info_baner .baner_item .item h4 {
    color: #f680c5;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .info_block .info_baner .baner_item .item p {
    color: #fff;
    font-size: 13px;
  }
  .info_block .info_baner .baner_item .zel {
    background-color: #8dc63f;
  }
  .info_block .info_baner .baner_item .zel h4 {
    color: #c4e39f;
  }
  .info_block .info_baner .baner_item .sen {
    background-color: #00aeef;
  }
  .info_block .info_baner .baner_item .sen h4 {
    color: #80d7f7;
  }
  .info_block .info_baner .baner_item .ser {
    background-color: #f5f5f5;
  }
  .info_block .info_baner .baner_item .ser p {
    padding-top: 30px;
    color: #9a999e;
    font-weight: 600;
  }
  .info_block .info_baner .baner_item .baner_icon {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .info_block .info_baner .baner_item .baner_icon .icon {
    width: 50px;
    height: 50px;
  }
  .info_block .info_baner .baner_item .baner_icon .icon img {
    width: 100%;
    height: 100%;
  }
  .info_block .glav_text {
    width: 100%;
    font-family: "Rubik", sans-serif;
    margin-bottom: 50px;
  }
  .info_block .glav_text .glav_img {
    width: 100%;
    height: 300px;
  }
  .info_block .glav_text .glav_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .info_block .glav_text .zag {
    color: #ec008c;
    font-size: 12px;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
  }
  .info_block .glav_text .text {
    margin-top: 20px;
    color: #9a999e;
    letter-spacing: 1.6px;
    text-align: center;
    line-height: 1.4em;
    font-size: 17px;
    font-weight: 500;
  }

  .contacts {
    background: url("../img/ban2.jpg") center/cover no-repeat;
    font-family: "Rubik", sans-serif;
  }
  .contacts .block_kart {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .contacts .block_kart .karts {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .contacts .block_kart .karts .karts_item {
    width: 250px;
    height: 180px;
    background-color: #00aeef;
    margin: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 35px 25px 25px;
  }
  .contacts .block_kart .karts .karts_item .num {
    font-family: "Cabin Sketch", cursive;
    font-size: 45px;
    color: #fff;
  }
  .contacts .block_kart .karts .karts_item .item_text {
    color: #fff;
    letter-spacing: 3px;
    font-weight: 700;
  }
  .contacts .block_kart .karts .i2 {
    background-color: #ec008c;
  }
  .contacts .block_kart .karts .i3 {
    background-color: #f9b233;
  }
  .contacts .block_kart .karts .i4 {
    background-color: #8dc63f;
  }
  .contacts .block_kart .info_karts {
    width: 100%;
    background-color: #fff;
    color: #9a999e;
    padding: 80px 30px;
    border-radius: 15px;
  }
  .contacts .block_kart .info_karts h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .contacts .block_kart .info_karts p {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 25px;
  }
  .contacts .block_kart .info_karts p .info_zag {
    font-weight: 700;
  }
  .contacts .block_kart .info_karts p .info_mod {
    color: #00aeef;
    font-weight: 700;
  }
  .contacts .block_kart .info_karts p:nth-child(5) {
    margin-bottom: 60px;
  }
  .contacts .block_kart .info_karts a {
    text-align: center;
    padding: 18px 30px;
    background-color: #ec008c;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 700;
    border-radius: 30px;
  }

  .footer_block {
    width: 100%;
    height: 70px;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #f8f4fb;
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    line-height: 1.17em;
  }
}